<!--
    Pagina iniziale dove viene richiesto tramite form di inserire il nome del cliente e di selezionare quale azienda sta elaborando
    l'offerta. Il form termina con un pulsante 'Prepara foglio di calcolo' che
        1. Copia il template di calcolo
        2. Lo incolla nella sottocartella dell'azienda offerente
        3. Nomina il file con il nome dell'azienda cliente.

    All' interno del file deve crearsi contestualmente il link per la generazione e il download pdf del file.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Form per inserimento nome offerente e nome cliente>
    <Pulsante per la creazione del file condiviso>
</body>
</html>